body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #1b1a1b;
    color: rgb(144, 98, 28);
    text-align: center;
    padding: 20px 0;
  }

  h1{
    font-size: 70px;
  }

  img {
    width: 50%;
    height: 500px;
    margin-right: 10px;
    border-radius: 5px;
  }

  .menu nav{
    text-align: left;
  }


  main {
    padding: 20px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  .product-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
  }
  
  .product-image {
    width: 100%;
    height: auto;
  }
  
  .product-info {
    padding: 15px;
  }
  
  .product-name {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  
  .product-description {
    font-size: 1rem;
    color: #666;
    margin: 10px 0;
  }
  
  .product-price {
    font-size: 1.2rem;
    color: #e76f51;
    font-weight: bold;
  }
  
  .buy-button {
    background-color: #e76f51;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
  }
  
  .buy-button:hover {
    background-color: #d45d43;
  }
  